* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  user-select: none;
  user-zoom: none;
}

body {
  margin: 0;
  padding: 0;
  background: #262626;
}
#container {
  display: block;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.instruction {
  background-color: #ffffff;
  width: fit-content;
  padding: 24px;
  border-radius: 24px;
}
.instruction .tab {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.instruction .tab .device {
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
}
.instruction .tab .device.active {
  background-color: #919191;
  color: #ffffff;
}
.instruction .detail {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40vw;
  min-height: 231px;
}
.instruction .detail .soon-text {
  font-size: 64px;
  line-height: 48px;
}
.instruction .detail img {
  width: 25vw;
}

.ring {
  width: 64px;
  height: 64px;
  border: 2px solid yellow;
  border-radius: 50%;
  border-bottom: none;
  border-left: none;
  margin: 64px auto 0 auto;
  animation: rotateRing 2s linear infinite;
}

@keyframes rotateRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
